.nav {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  z-index: 6;
  background: linear-gradient(to bottom, #141414, #1e1e1e, #282828, #323232, #3c3c3c, #464646, #3c3c3c, #323232, #282828, #1e1e1e);




  .navList {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    
    .navItem {
      margin: 0 1rem;

      a{
        text-decoration: none !important;
      }

      .navLink {
        color: #fff;
        font-size: 1.2rem;
        transition: color 0.3s;
      
        &:hover {
          color: #ccc;
        }

        img{
          width: 30px;
          height: 30px;
          color: white;
        }
      }
    }
  }
}
.navLink:hover img {
  transform: rotate(-90deg);
}