.nav {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #220202d8;
  z-index: 1;


  .navList {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    
    .navItem {
      margin: 0 1rem;

      a{
        text-decoration: none !important;
      }

      .navLink {
        color: #fff;
        font-size: 1.2rem;
        transition: color 0.3s;
      
        &:hover {
          color: #ccc;
        }

        img{
          width: 30px;
          height: 30px;
          color: white;
        }
      }
    }
  }
}
.navLink:hover img {
  transform: rotate(-90deg);
}