.nav {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  z-index: 6;
  background: radial-gradient( #1e1e1e, #141414,);




  .navList {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    
    .navItem {
      margin: 0 1rem;

      a{
        text-decoration: none !important;
      }

      .navLink {
        color: #fff;
        font-size: 1.2rem;
        transition: color 0.3s;
      
        &:hover {
          color: #ccc;
        }

        img{
          width: 30px;
          height: 30px;
          color: white;
        }
      }
    }
  }
}
.navLink:hover img {
  transform: rotate(-90deg);
}

// .navItem {
//   display: inline-block;
//   margin: 0 5px;
//   font-size: 18px;
//   &:hover {
//     text-decoration: underline;
//     cursor: pointer;
//   }
// }

.connected .navLink {
  color: green;
}