@font-face {
    font-family: 'nfs';
    src: url('/font/nfs.woff2') format('woff2'),
        url('/font/nfs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.enTeteAcceuil {
    position: relative;

    .bulle{
        position: absolute;
        top: 35%;
        right: 60%;
    }

}
    