.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  // align-items: center;

  .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
  }
  .catalogueContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 4rem;
  margin-bottom: 0px;
  width: 80%;
  background-color: white;
  padding-top: 50px;
  padding-left: 35px;


  .catalogueList{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    list-style: none;
  }

}
}




.catalogueListItem {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;

  
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 2rem 0;
}

.paginationPage {
  margin: 0 1rem;
}

.paginationLink {
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.breakme {
  margin: 0 1rem;
}

// Media query pour les écrans plus petits
@media (max-width: 768px) {
  .catalogueContainer {
    padding: 2rem;
  }

  .catalogueListItem {
    width: 200px;
    height: 200px;
  }
}

.filterIcon {
  width: 70px;
  height: 70px;
  cursor: pointer;
}