.catalogueContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 4rem;
  margin-bottom: 0px;
  padding: 50px;
background-color: white;
}

.catalogueListItem {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;

  
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 2rem 0;
}

.paginationPage {
  margin: 0 1rem;
}

.paginationLink {
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.breakme {
  margin: 0 1rem;
}

// Media query pour les écrans plus petits
@media (max-width: 768px) {
  .catalogueContainer {
    padding: 2rem;
  }

  .catalogueListItem {
    width: 200px;
    height: 200px;
  }
}
