
@font-face {
  font-family: 'nfs';
  src: url('/font/nfs.woff2') format('woff2'),
        url('/font/nfs.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


  .homeTitre{
    font-family:'nfs';
    font-size: 3rem;
    color: white;
    text-align: center;
    z-index: 999;
  }

.home video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeButton {
  position: absolute;
  z-index: 888;
  top: 47%;
  left: 47%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #22020299;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  box-shadow: inset 0 4px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease-out;
}

.homeButton::before {
  content: '';
  border: 4px solid hsla(0, 89%, 15%, 0.5);
  width: 110px;
  height: 110px;
  position: absolute;
  border-radius: 50%;
  transition: .3s;
  text-decoration: none;
  animation: blink 3s infinite;
  animation-delay: 1s;
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homeButton:active {
  transform: translateY(4px) scale(0.98);
  box-shadow: none;
}

